@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-light-webfont.woff2") format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-regular-webfont.woff2") format('woff2');
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-medium-webfont.woff2") format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-bold-webfont.woff2") format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-black-webfont.woff2") format('woff2');
  font-weight: 900;
}


:root {
  /* colors */
  --background-surface: #fdebde;
  --primary-color: #f07924;
  --secondary-color: #f9caa9;
  --accent-color: #c85c0e;
  --text-color: #180B02;
  --success-color: #7bed9f;
  --error-color: #ff6348;
  /* padding & margins */
  --padding-xs: 0.5rem;
  --padding-sm: 0.75rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;
  --padding-xl: 3rem;
  --padding-2xl: 4rem;
  --margin-2xs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-sm: 0.75rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;
  --margin-xl: 3rem;
  --margin-2xl: 4rem;
  /* fonts */
  --font-family: "Roboto";
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  /* font sizes */
  --font-base: 18px;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2rem;
  --font-2xl: 4rem;
}

/* global styles */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: var(--font-base);
  box-sizing: border-box;
}

body {
  background-color: var(--background-surface);
  font-family: sans-serif;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  max-width: 60rem;
}

header {
  padding: var(--padding-md);
}

section {
  padding: var(--padding-md);
}

h1 {
  font-size: var(--font-2xl);
  margin: var(--margin-md) 0;
}

h2 {
  font-size: var(--font-xl);
  margin: var(--margin-md) 0;
}

/* utilities */

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-col {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.success {
  background-color: var(--success-color);
}

.error {
  background-color: var(--error-color);
}

/* components */

form label, form input, form textarea {
  display: block;
  font-size: var(--font-base);
  margin: var(--margin-2xs) 0 var(--margin-sm) 0;
  width: 100%;
}

form input, form textarea {
  padding: var(--padding-xs);
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-md);
  margin: var(--margin-md) 0;
  padding: var(--padding-md) var(--padding-lg);
}

button.secondary {
  background-color: var(--secondary-color);
}

article {
  background-color: var(--background-surface);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: var(--margin-md) 0;
  padding: var(--padding-md);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin-md);
  padding: inherit;
}

.cards>li {
  background-color: var(--background-surface);
  list-style: none;
  padding: var(--padding-md);
}

/* media queries */

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}